[submodule "AWS/elastic-beanstalk-samples"]
	path = AWS/elastic-beanstalk-samples
	url = https://github.com/awsdocs/elastic-beanstalk-samples.git
[submodule "AWS/aws-hello-world-infra"]
	path = AWS/aws-hello-world-infra
	url = https://github.com/pumbaa666/aws-hello-world-infra.git
